html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 10px solid #000;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #f2f2f2;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 20px;
}

#logo {
  max-width: 100px;
  display: block;
}

h1 {
  margin: 0;
  font-size: 24px;
  flex-grow: 1;
  text-align: center;
}

#current-date {
  font-size: 16px;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#left-section {
  background-color: #fff;
  border: 5px solid #000;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.module {
  background-color: #fff;
  border: 5px solid #000;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module:first-child {
  border-top: 5px solid #000;
}
